.about-experience{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-hero{
    height: 100dvh;
    display: grid;
    place-items: center;
    padding: 0px 280px;
    margin-bottom: 400px;
}

.about-skills{
    width: 516px;
    padding: 0px 0px 24px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.about-photo{
    height: 300dvh;
}

.about-photo-title{
    width: 50%;
    position: sticky;
    top: 360px;
    margin: auto;
}

.about-contact{
    width: 100%;
}

.about-contact-email{
    max-height: 9.5rem;
    overflow: hidden;
}

.about-contact-move{
    transition: transform .6s ease;
}

.about-contact:hover > .layer-1 > .layer-2 > .layer-3 > .layer-4 > .about-contact-email > .about-contact-move{
    transform: translateY(-9rem);
}

.about-contact:hover > .layer-1 > .layer-2 > .about-contact-email > .about-contact-move{
    transform: translateY(-9rem);
}