.archives-container{
    padding: 200px 60px;
}

.archives-image{
    height: 600px;
    border-radius: 24px;
    transform: rotate(3deg);
}

.archives-line{
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    width: 68%;
    height: 1px;
}