.home-intro{
    position: absolute;
    top: 40px;
    left: 240px;
}

.home-title{
    width: 100%;
    padding: 0px 24px;
    position: fixed;
    top: 28%;
}

.project-titles{
    height: 12rem;
    overflow: hidden;
}

.close-tag-offset{
    margin-right: -24px
}

.home-description{
    width: 100%;
    padding: 0px 240px;
    position: fixed;
    top: 66%;
}

.home-description-container{
    width: 360px;
}