nav{
    padding: 40px 60px 40px 60px;
    position: fixed;
    top: 0%;
    z-index: 9998;
    width: 100vw;
}

.menu-list{
    display: flex;
    gap: 164px;
}

.bottom-nav{
    padding: 40px 60px 40px 60px;
    position: fixed;
    bottom: 0%;
    z-index: 9999;
    width: 100%;
}

.intro-copy{
    max-width: 280px;
}

.progress-bar{
    width: 80px;
    height: 1px;
    background-color: rgba(255,255,255,.2);
    overflow: hidden;
    position: fixed;
    right: 60px;
    bottom: 44px;
    z-index: 9999;
}

.progress{
    width: 20px;
    height: 1px;
    background-color: rgba(255,255,255,.5);
    transform-origin: left center;
    // transition: all .1s ease;
}

.router-link-text{
    color: rgba(255,255,255,0.5);
    font-size: .8rem;
    line-height: 150%;
    font-weight: 300;
}

.menu-text{
    color: rgba(255,255,255,0.5);
    font-size: 4rem;
    font-weight: 900;
}

.menu-button{
    display: none;
}

.menu{
    position: fixed;
    z-index: 9997;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 240px 60px;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(11,13,16,.8);
    transition: all .8s ease;
    display: none;
    backdrop-filter: blur(12vmax);
    opacity: 0;
}

.construction-strike{
    text-decoration: line-through;
    opacity: .5;
    cursor: pointer;
}

// Footer
footer{
    padding: 48px 60px 48px 60px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.footer-right{
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.footer-links{
    display: flex;
    gap: 200px;
}

.footer-hidden{
    transform: translateY(60px);
    opacity: 0;
    transition: all .4s ease;
}

.footer-reveal{
    transform: translateY(0px);
    opacity: 1;
    transition: all .4s ease;
}

// Responsive
@media screen and (max-width: 1280px){
    .menu-list{
        gap: 24px;
    }
}
@media screen and (max-width: 1024px){
    footer{
        padding: 48px 24px;
    }
    .footer-links{
        flex-direction: column;
        gap: 24px;
    }
    .footer-right{
        gap: 24px;
    }
    .menu-list{
        display: none;
    }
    .menu-button{
        display: flex;
    }
}

@media screen and (max-width: 768px){
    nav{
        padding: 40px 24px 40px 24px;
    }
    .menu{
        padding: 240px 24px;
    }
    .bottom-nav{
        padding: 40px 24px 40px 24px;
    }
    .progress-bar{
        right: 24px;
    }
}