nav{
    padding: 40px 60px 40px 60px;
    position: fixed;
    top: 0%;
    z-index: 9998;
    width: 100%;
}

.bottom-nav{
    padding: 40px 60px 40px 60px;
    position: fixed;
    bottom: 0%;
    z-index: 9999;
    width: 100%;
}

.intro-copy{
    max-width: 280px;
}

.progress-bar{
    width: 80px;
    height: 1px;
    background-color: rgba(255,255,255,.2);
    overflow: hidden;
    position: fixed;
    right: 60px;
    bottom: 44px;
}

.progress{
    width: 20px;
    height: 1px;
    background-color: rgba(255,255,255,.5);
    transform-origin: left center;
    // transition: all .1s ease;
}

// .router-link-active{
//     color: rgba(11,13,16,1);
//     background-color: rgba(255,255,255,1);
// }

.construction-strike{
    text-decoration: line-through;
    opacity: .5;
    cursor: pointer;
}

// Footer
footer{
    padding: 48px 60px 48px 60px;
    width: 100%;
}

.footer-hidden{
    transform: translateY(60px);
    opacity: 0;
    transition: all .4s ease;
}

.footer-reveal{
    transform: translateY(0px);
    opacity: 1;
    transition: all .4s ease;
}