// Typography
.hero{
    font-weight: 900;
    font-size: 12rem;
    line-height: 120%;
    letter-spacing: .8rem;
}

.large-text{
    font-weight: 900;
    font-size: 8rem;
    line-height: 120%;
}

.call-to-action{
    font-weight: 900;
    font-size: 5rem;
    line-height: 100%;
}

.paragraph-title{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 120%;
}

.title-bold{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
}

.title-light{
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
}

.body-light{
    font-weight: 300;
    font-size: 1rem;
    line-height: 120%;
}

.body-bold{
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.caption-bold{
    font-weight: 600;
    font-size: .8rem;
    line-height: 150%;
}

.caption-light{
    font-weight: 300;
    font-size: .8rem;
    line-height: 150%;
}

.caption-wide{
    font-weight: 300;
    font-size: .7rem;
    line-height: 150%;
    letter-spacing: .5rem;
}

.caption-small-bold{
    font-weight: 600;
    font-size: .7rem;
    line-height: 150%;
}

.caption-small-light{
    font-weight: 300;
    font-size: .7rem;
    line-height: 150%;
}

// Typography Container
.caption-container{
    max-height: 1.2rem;
    overflow: hidden;
}

.caption-move{
    transition: all .5s ease;
}

.caption-container:hover > .caption-move{
    transform: translateY(-1.2rem);
}

.menu-container{
    max-height: 4rem;
    overflow: hidden;
}

.menu-move{
    transition: all .5s ease;
}

.menu-container:hover > .menu-move{
    transform: translateY(-4rem);
}

// Responsive
@media screen and (max-width: 1280px){
    .call-to-action{
        font-size: 3rem;
        line-height: 100%;
    }
    .body-bold{
        font-size: .8rem;
        line-height: 120%;
    }
    .caption-container{
        max-height: 1rem;
    }
}
@media screen and (max-width: 768px){
    .call-to-action{
        font-size: 1.5rem;
    }
}