// Containers
.section-container{
    padding: 0px 240px 0px 240px;
    margin-bottom: 160px;
}

// Utilities
.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

// Justify Content
.justify-start{
    justify-content: start;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: end;
}


// Alight Items
.align-start{
    align-items: start;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: end;
}

// Gap
.gap-280{
    gap: 280px;
}

.gap-200{
    gap: 200px;
}

.gap-164{
    gap: 164px;
}

.gap-100{
    gap: 100px;
}

.gap-60{
    gap: 60px;
}

.gap-54{
    gap: 54px;
}

.gap-48{
    gap: 48px;
}

.gap-36{
    gap: 36px;
}

.gap-24{
    gap: 24px;
}

.gap-16{
    gap: 16px;
}

.gap-8{
    gap: 8px;
}

.gap-4{
    gap: 4px;
}

.w-100{
    width: 100%;
}

// Visual
.divider{
    width: 24%;
    height: 1px;
    border-radius: 100%;
}

.spacer-text{
    opacity: 0;
    user-select: none;
}

.primary-button{
    padding: 24px 36px;
    border-radius: 100px;
    color: rgba(11,13,16,1);
}

.tag{
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 100px;
    padding: 0px 16px;
}