// Containers
.section-container{
    padding: 0px 240px 0px 240px;
    margin-bottom: 160px;
}

// Utilities
.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

// Justify Content
.justify-start{
    justify-content: start;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: end;
}


// Alight Items
.align-start{
    align-items: start;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: end;
}

// Gap
.gap-280{
    gap: 280px;
}

.gap-200{
    gap: 200px;
}

.gap-164{
    gap: 164px;
}

.gap-100{
    gap: 100px;
}

.gap-80{
    gap: 80px;
}

.gap-60{
    gap: 60px;
}

.gap-54{
    gap: 54px;
}

.gap-48{
    gap: 48px;
}

.gap-36{
    gap: 36px;
}

.gap-32{
    gap: 32px;
}

.gap-24{
    gap: 24px;
}

.gap-16{
    gap: 16px;
}

.gap-8{
    gap: 8px;
}

.gap-4{
    gap: 4px;
}

.w-100{
    width: 100%;
}

// Visual
.divider{
    width: 24%;
    height: 1px;
    border-radius: 100%;
}

.spacer-text{
    opacity: 0;
    user-select: none;
}

// Button
.button-wrapper{
    border-radius: 100px;
    overflow: hidden;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 1);
    transition: all .4s ease-in-out;
}

.button-wrapper:hover{
    border-color: rgba(11,13,16,1);
}

.primary-button{
    position: relative;
    padding: 24px 48px;
    color: rgba(11,13,16,1);
    transition: all .4s ease-in-out;
}

.button-icon{
    transition: all .4s ease-in-out;
}

.primary-button:hover > svg > .button-icon{
    fill: rgba(255,255,255,1);
}

.button-hover{
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: rgba(11,13,16,1);
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.primary-button:hover{
    color: rgba(255,255,255,1);
}

.primary-button:hover > .button-hover{
    width: 600px;
    height: 600px;
}

.button-hover:active{
    background-color: rgba(11,13,16,1);
}

.base-button-fill{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: rgba(255,255,255,1);
}

.tag{
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 100px;
    padding: 0px 16px;
}