// Font Import
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;900&display=swap');

// File Import
@import './navigation';
@import './utilities';
@import './typography';

// Page Import
@import './home';
@import './about';
@import './insights';
@import './archives';
@import './projects';

// Setup
*{
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}

html{
    overflow-x: hidden;
}

body{
    background-color: rgba(22,27,32,1);
    background: url(/background-v2.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    height: 100vh;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    outline: inherit;
    cursor: pointer;
    text-align: left;
}

a{
    text-decoration: none;
}

span{
    display: inline-block;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    z-index: -1;
}

img{
    user-select: none;
}

::selection{
    background: rgba(255, 255, 255, 1);
    color: rgba(11,13,16,1);
}

// Scrollbar
/*width*/
::-webkit-scrollbar {
    width:0px;
}

/*track*/
::-webkit-scrollbar-track {
    background:rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
    background:rgb(19, 21, 22);
    border-radius:100px;
}
    
body .transition {display: block}
.w-editor .transition {display: none;}
.no-scroll-transition {overflow: hidden; position: relative;}

// PLACEHOLDER --------------------------------

.placeholder-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder-title{
    position: absolute;
}

.temp-link{
    position: fixed;
    right: 1%;
    top: 20%;
    transform: translate(0%, -50%);
}

// PLACEHOLDER --------------------------------

// Text Color
.text-light{
    color: rgba(255,255,255,1);
}

.text-light-gray{
    color: rgba(255,255,255,0.5);
}

.text-dark-gray{
    color: rgba(44,46,58,1);
}

.text-dark{
    color: rgba(11,13,16,1);
}

// Fill Color
.fill-light{
    background-color: rgba(255,255,255,1);
}

.fill-light-gray{
    background-color: rgba(255,255,255,0.5);
}

.fill-gray{
    background-color: rgba(91,105,116,1);
}

.fill-dark-gray{
    background-color: rgba(31,35,38,1);
}

.fill-dark{
    background-color: rgba(11,13,16,1);
}