@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;900&display=swap");
nav {
  padding: 40px 60px 40px 60px;
  position: fixed;
  top: 0%;
  z-index: 9998;
  width: 100%;
}

.bottom-nav {
  padding: 40px 60px 40px 60px;
  position: fixed;
  bottom: 0%;
  z-index: 9999;
  width: 100%;
}

.intro-copy {
  max-width: 280px;
}

.progress-bar {
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  position: fixed;
  right: 60px;
  bottom: 44px;
}

.progress {
  width: 20px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform-origin: left center;
}

.construction-strike {
  text-decoration: line-through;
  opacity: 0.5;
  cursor: pointer;
}

footer {
  padding: 48px 60px 48px 60px;
  width: 100%;
}

.footer-hidden {
  transform: translateY(60px);
  opacity: 0;
  transition: all 0.4s ease;
}

.footer-reveal {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.4s ease;
}

.section-container {
  padding: 0px 280px 0px 280px;
  margin-bottom: 160px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.gap-280 {
  gap: 280px;
}

.gap-200 {
  gap: 200px;
}

.gap-164 {
  gap: 164px;
}

.gap-100 {
  gap: 100px;
}

.gap-80 {
  gap: 80px;
}

.gap-60 {
  gap: 60px;
}

.gap-54 {
  gap: 54px;
}

.gap-48 {
  gap: 48px;
}

.gap-36 {
  gap: 36px;
}

.gap-32 {
  gap: 32px;
}

.gap-24 {
  gap: 24px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}

.m-800 {
  margin-bottom: 800px;
}

.m-400 {
  margin-bottom: 400px;
}

.m-200 {
  margin-bottom: 240px;
}

.w-100 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.divider {
  width: 24%;
  height: 1px;
  border-radius: 100%;
}

.spacer-text {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.button-wrapper {
  border-radius: 100px;
  overflow: hidden;
  border: solid 1px;
  border-color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
}

.button-wrapper:hover {
  border-color: rgb(11, 13, 16);
}

.primary-button {
  position: relative;
  padding: 24px 48px;
  color: rgb(11, 13, 16);
  transition: all 0.4s ease-in-out;
}

.project-button {
  position: relative;
  width: 100px;
  height: 100px;
  color: rgb(11, 13, 16);
  transition: all 0.4s ease-in-out;
}

.button-icon {
  transition: all 0.4s ease-in-out;
}

.primary-button:hover > svg > .button-icon {
  fill: rgb(255, 255, 255);
}

.project-button:hover > svg > .button-icon {
  fill: rgb(255, 255, 255);
}

.button-hover {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: rgb(11, 13, 16);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.primary-button:hover {
  color: rgb(255, 255, 255);
}

.project-button:hover {
  color: rgb(255, 255, 255);
}

.primary-button:hover > .button-hover {
  width: 600px;
  height: 600px;
}

.project-button:hover > .button-hover {
  width: 600px;
  height: 600px;
}

.button-hover:active {
  background-color: rgb(11, 13, 16);
}

.base-button-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: rgb(255, 255, 255);
}

.tag {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  padding: 0px 16px;
}

.cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor {
  width: 140px;
  height: 140px;
  max-width: 140px;
  max-height: 140px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: rgb(255, 255, 255);
  transform-origin: center;
  opacity: 0;
  transition: all 0.8s ease;
}

.blob-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: -9999;
  pointer-events: none;
  mix-blend-mode: overlay;
}

.blob {
  width: 800px;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 100%;
  filter: blur(8vmax);
}

.hero {
  font-weight: 900;
  font-size: 12rem;
  line-height: 120%;
  letter-spacing: 0.8rem;
}

.large-text {
  font-weight: 900;
  font-size: 8rem;
  line-height: 120%;
}

.call-to-action {
  font-weight: 900;
  font-size: 5rem;
  line-height: 100%;
}

.paragraph-title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
}

.title-bold {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
}

.title-light {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 120%;
}

.body-light {
  font-weight: 300;
  font-size: 1rem;
  line-height: 120%;
}

.body-bold {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
}

.caption-bold {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 150%;
}

.caption-light {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 150%;
}

.caption-wide {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 150%;
  letter-spacing: 0.5rem;
}

.caption-small-bold {
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 150%;
}

.caption-small-light {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 150%;
}

.caption-container {
  max-height: 1.2rem;
  overflow: hidden;
}

.caption-move {
  transition: all 0.5s ease;
}

.caption-container:hover > .caption-move {
  transform: translateY(-1.2rem);
}

.home-experience {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-intro {
  position: absolute;
  top: 40px;
  left: 240px;
}

.home-title {
  width: 100%;
  padding: 0px 24px;
  position: fixed;
  top: 28%;
}

.project-titles {
  position: relative;
  height: 12rem;
  overflow: hidden;
}

.close-tag-offset {
  margin-right: -24px;
}

.home-description {
  width: 100%;
  padding: 0px 240px;
  position: fixed;
  top: 66%;
}

.home-description-container {
  width: 360px;
}

.about-experience {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.about-hero {
  height: 100dvh;
  display: grid;
  place-items: center;
  padding: 0px 280px;
  margin-bottom: 400px;
}

.about-skills {
  width: 516px;
  padding: 0px 0px 24px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.about-photo {
  height: 300dvh;
}

.about-photo-title {
  width: 50%;
  position: sticky;
  top: 360px;
  margin: auto;
}

.about-photo-interest {
  max-height: 5rem;
  overflow: hidden;
}

.trigger-1 {
  margin-top: 50%;
  height: 240dvh;
  width: 60px;
}

.about-contact {
  width: 100%;
}

.about-contact-email {
  max-height: 9.5rem;
  overflow: hidden;
}

.about-contact-move {
  transition: transform 0.6s ease;
}

.about-contact:hover > .layer-1 > .layer-2 > .layer-3 > .layer-4 > .about-contact-email > .about-contact-move {
  transform: translateY(-9rem);
}

.about-contact:hover > .layer-1 > .layer-2 > .about-contact-email > .about-contact-move {
  transform: translateY(-9rem);
}

.insights-top-container {
  padding: 240px 240px 160px 120px;
}

.insights-top-description {
  width: 200px;
}

.insights-tag-group {
  margin-left: 52px;
}

.insights-placeholder-container {
  height: 100dvh;
  padding: 0px 280px;
}

.insights-placeholder {
  width: 100%;
}

.archives-experience {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.missing-experience {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.missing-button {
  position: absolute;
  left: 50%;
  bottom: 200px;
  translate: -50% 0%;
}

.archives-container {
  padding: 0px 60px;
}

.archives-image {
  height: 600px;
  border-radius: 24px;
  transform: rotate(3deg);
}

.archives-line {
  position: fixed;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 68%;
  height: 1px;
}

.archives-video-container {
  height: 600px;
  aspect-ratio: 16/9;
  transform: rotate(3deg);
}

.archives-video {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 24px;
}

.archives-video-asset {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.archives-title-container {
  position: fixed;
  top: 50%;
  translate: 0% -50%;
  max-height: 48px;
  overflow: hidden;
}

.archives-date-container {
  position: fixed;
  top: 50%;
  right: 60px;
  translate: 0% -50%;
  max-height: 60px;
  overflow: hidden;
}

.archive-date-box {
  max-height: 18px;
  overflow: hidden;
}

.archives-project-container {
  position: fixed;
  margin-top: 200px;
  left: 50%;
  translate: -50%;
}

.stray-experience, .hyper-experience, .transit-experience, .arcane-experience, .nebula-experience, .angine-experience {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.project-title {
  position: fixed;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0%);
  z-index: 9999;
}

.hero-video-container {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0px 240px 0px 240px;
  z-index: -1;
}

.hero-video {
  width: 100%;
  aspect-ratio: 16/8;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 24px;
}

.hero-video-asset {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.data-container {
  height: 100vh;
  padding: 0px 60px 0px 60px;
  margin-bottom: 60px;
}

.project-descriptions {
  max-width: 320px;
}

.data-props {
  text-align: right;
}

.main-content {
  width: 520px;
}

.image-container {
  padding: 100px;
  border-radius: 24px;
}

.image-container-padless {
  border-radius: 24px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 24px;
}

.covered-image {
  height: 720px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contained-image {
  width: 100%;
}

.project-video {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 24px;
}

.project-video-small {
  width: 100%;
  height: 720px;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 24px;
}

.project-video-asset {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.next-project-container {
  width: 100%;
  height: 600px;
  border-radius: 24px;
  background-position: center;
}

.next-project-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(11, 13, 16, 0.2);
}

.next-project-link {
  position: absolute;
  margin-bottom: -36px;
  z-index: 5;
}

.quote-number {
  width: 100%;
  padding: 0px 0px 0px 64px;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 24px;
}

.content-hidden {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.4s ease;
}

.content-reveal {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s ease;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

html {
  overflow-x: hidden;
}

body {
  background-color: rgb(11, 13, 16);
  background: url(/background-v2.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  height: 100vh;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  text-align: left;
}

a {
  text-decoration: none;
}

span {
  display: inline-block;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: -1;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-moz-selection {
  background: rgb(255, 255, 255);
  color: rgb(11, 13, 16);
}

::selection {
  background: rgb(255, 255, 255);
  color: rgb(11, 13, 16);
}

/*width*/
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}

.placeholder-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-title {
  position: absolute;
}

.temp-link {
  position: fixed;
  right: 1%;
  top: 20%;
  transform: translate(0%, -50%);
}

.text-light {
  color: rgb(255, 255, 255);
}

.text-light-gray {
  color: rgba(255, 255, 255, 0.5);
}

.text-dark-gray {
  color: rgb(44, 46, 58);
}

.text-dark {
  color: rgb(11, 13, 16);
}

.fill-light {
  background-color: rgb(255, 255, 255);
}

.fill-light-gray {
  background-color: rgba(255, 255, 255, 0.5);
}

.fill-gray {
  background-color: rgb(91, 105, 116);
}

.fill-dark-gray {
  background-color: rgb(31, 35, 38);
}

.fill-dark {
  background-color: rgb(11, 13, 16);
}/*# sourceMappingURL=style.css.map */